{% extends 'layout/basic.html' %}

{% block header %}
    <div class="block">
        <p>
            {% if selected_group is not None %}
                <a href="{% url 'products_list' %}">Полный список товаров</a>
                |
                <a href="{% url 'create_product' %}?group_id={{ selected_group.pk }}">Добавить товар</a>
            {% else %}
                Выберите категорию, если хотите добавить товар
            {% endif %}

        </p>
    </div>
    <br>
{% endblock %}

{% block content %}
    <div class="block">
        <p>Каталог товаров -
            {% if selected_group is not None %}
                <a href="{% url 'groups_list' %}?group_id={{ selected_group.pk }}">
                    {{ selected_group }}
                </a>
            {% else %}
                <a href="{% url 'groups_list' %}">
                    все категории
                </a>
            {% endif %}
        </p>
        {% if products|length != 0 %}
            <table class="table_view">
                <tr>
                    <th>Наименование</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Состояние</th>
                    <th>Дата поступления</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td class="cell_border">
                            <a href="{% url 'edit_product' %}?product_id={{ product.pk }}">
                                {{ product.title }}
                            </a>
                        </td>
                        <td class="cell_border">{{ product.description }}</td>
                        <td class="cell_border">{{ product.price }}</td>
                        <td class="cell_border">{{ product.count }}</td>
                        <td class="cell_border">
                            {% if product.state %}
                                Новый
                            {% else %}
                                б/у
                            {% endif %}
                        </td>
                        <td class="cell_border">{{ product.arrival_date }}</td>
                        <td class="cell_border">
                            <a href="{% url 'remove_product' %}?product_id={{ product.pk }}">
                                Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p align="center">
                {# Вставляем ссылку на первую страницу #}
                {% if page.has_previous and selected_group is not None %}
                    <a href="{% url 'products_list' %}?group_id={{ selected_group.pk }}&page=1">
                        Первая страница
                    </a>
                {% endif %}
                {% if page.has_previous and selected_group is None %}
                    <a href="{% url 'products_list' %}?page=1">
                        Первая страница
                    </a>
                {% endif %}

                {# Вставляем ссылку на предыдущую страницу #}
                &nbsp
                {% if page.has_previous and selected_group is not None %}
                    <a href="{% url 'products_list' %}?group_id={{ selected_group.pk }}&page={{ page.previous_page_number }}">
                        {{ page.previous_page_number }}
                    </a>
                {% endif %}
                {% if page.has_previous and selected_group is None %}
                    <a href="{% url 'products_list' %}?page={{ page.previous_page_number }}">
                        {{ page.previous_page_number }}
                    </a>
                {% endif %}

                {# Вставляем номер текущей страницы #}
                &nbsp
                {{ page.number }}
                &nbsp

                {# Вставляем ссылку на следующую страницу #}
                {% if page.has_next and selected_group is not None %}
                    <a href="{% url 'products_list' %}?group_id={{ selected_group.pk }}&page={{ page.next_page_number }}">
                        {{ page.next_page_number }}
                    </a>
                {% endif %}
                {% if page.has_next and selected_group is None %}
                    <a href="{% url 'products_list' %}?page={{ page.next_page_number }}">
                        {{ page.next_page_number }}
                    </a>
                {% endif %}

                {# Вставляем ссылку на последнюю страницу #}
                &nbsp
                {% if page.has_next and selected_group is not None %}
                    <a href="{% url 'products_list' %}?group_id={{ selected_group.pk }}&page={{ page.paginator.num_pages }}">
                        Последняя страница
                    </a>
                {% endif %}
                {% if page.has_next and selected_group is None %}
                    <a href="{% url 'products_list' %}?page={{ page.paginator.num_pages }}">
                        Последняя страница
                    </a>
                {% endif %}

            </p>
        {% else %}
            <p>Нет товаров в выбранной категории</p>
        {% endif %}
    </div>
{% endblock %}